html,
body,
body > div { /* the react root */
  margin: 0;
  padding: 0;
  height: 100%;
  
}

h2 {
  margin: 0;
  font-size: 16px;
  
}

ul {
  margin: 0;
  padding: 0 0 0 1.5em;
}

li {
  margin: 1.5em 0;
  padding: 0;
  /* color: green; */
  
}

b { /* used for event dates/times */
  margin-right: 3px;
  color: green;
  background-color:  rgb(19, 179, 19);
}


.app {
  display: flex;
  min-height: 100%;
  font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
  font-size: 14px;
  /* color: #339605ec; */
  /* background-color: #c2c0c0; */
}

.app-sidebar {
  width: 300px;
  line-height: 1.5;
  /* background: #767979; */
  border-right: 1px solid #e01b0d;
}

.app-sidebar-section {
  padding: 2em;
}


.app-main {
  flex-grow: 1;
  padding: 3em;
  /* color: green; */
  /* border-color: #e01b0d; */
  /* background: #cfd1d1d5; */
}

.fc { /* the calendar root */
  max-width: 70rem;
  margin: 0 auto;
  /* color: green; */
}


/* override Month and year */
.fc .fc-toolbar-title {
  font-size: 1.75em;
  margin: 0;
  color: rgb(13, 14, 13);
}


/* days of week*/
.fc .fc-col-header-cell-cushion {
    display: inline-block;
    padding: 2px 4px;
    color: rgb(240, 50, 44);
}

/* left arrow and month buttons*/
.fc-direction-ltr .fc-button-group > .fc-button:not(:last-child) {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  background-color:  rgb(19, 179, 19);
}

/* day and week buttons and Right arrow*/
.fc-direction-ltr .fc-button-group > .fc-button:not(:first-child) {
  margin-left: -1px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  background-color:  rgb(19, 179, 19);
}

/* today Button */
.fc .fc-button:not(:disabled) {
  cursor: pointer;
  background-color: rgb(19, 179, 19);
  border-color: whitesmoke;
}

/* number days  */
.fc .fc-daygrid-day-number {
    padding: 4px;
    color: grey;
}